.git/
.vs/
.env.txt

__pycache__/

requirements.txt
boty.py

build/
dist/
*.spec

faces/*
!faces/example/
fonts/*
!fonts/default.otf
blips/*
!blips/example.wav
sheets/
package/
offlineDist.zip
output/
test.py
portrait.png
generator_settings.json
fontdata.json

